

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

pre {
  font-size: 0.8rem;
}

table {
  width: 100%;
  max-width: 30rem;
  border-collapse: collapse;
}

table.striped tr:nth-child(even) {
  background-color: #eee;
}

th, td {  
  text-align: left;
  padding: 0.6rem;
}

th, tfoot td {
  border-top: 2px solid #ddd;
  font-weight: bold;
}